* {
    border: 0;
    padding: 0;
    margin: 0;
}
a {
  text-decoration: none;
}
body {
    font-family: "微软雅黑", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", PingHei, STHeiti;
}
.header {
    width: 100%;
    height: 100%;
}
#topLine {
    height: 4px;
    background: linear-gradient(90deg, #6510ad 60%, #104fad);
}
.navWrapper {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.logoWrapper {
    position: absolute;
    width: 200px;
    height: 62px;
    top: 40px;
    left: 60px;
}
.logoWrapper img {
    display: block;
    width: 200px;
    height: 62px;
}
.nav {
    float: right;
    width: 854px;
    height: 100px;
    padding: 30px 35px 30px;
}
.mainNav {
    float: right;
    width: 854px;
    height: 46px;
    padding: 39px 0 16px 0;
}
.mainNav__dl {
    float: left;
    width: 122px;
}
.mainNav__dt {
    position: relative;
    height: 46px;
    width: 122px;
}
.mainNav__dl dd {
    display: none;
    width: 221px;
    background-color: white;
}
.mainNav__dtA {
    display: block;
    width: 122px;
    height: 46px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 46px;
}
.mainNav__ddA {
    display: block;
    width: 122px;
    height: 46px;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    color: black;
}
.mainNav__ddFirst {border-top: 5px solid white;}
.mainNav__ddLast {border-bottom: 5px solid white;}
.mainNav__dl:hover dd {
    display: block;
    width: 221px;
    height: 46px;
}
.mainNav__dl:hover dt {
    background-color: white;
    border-top: 3px solid #deb338;
}
.mainNav__dl:hover dt a {color: #6510ad;}
.mainNav__dl dd:hover {background-color: #eeeeee;}
.topNav {
    float: right;
    position: absolute;
    top: 40px;
    right: 62px;
    width: 250px;
    height: 20px;
}
.topNav dl {
    width: 250px;
    height: 20px;
}
.topNav__left {
    float:left;
    line-height: 20px;
    text-align: center;
    width: 30px;
    height: 20px;
    margin-left: 30px;
}
.topNav__a {
    display: block;
    color: rgba(255, 255, 255, 0.69);
    font-size: 14px;
}
.topNav__old {
    float:left;
    line-height: 20px;
    text-align: center;
    width: 58px;
    margin-left: 20px;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
}
.topNav__search {
    float:left;
    width: 50px;
    height: 20px;
}
#topNav__space {
    float: left;
    width: 30px;
    height: 20px;
}
.icon-search{
    color: white;
    font-size: 18px;
    line-height: 20px;
}
.topNav__a:hover {color: rgb(159, 128, 39);}
.topImg {
    position: relative;
    z-index: 0;
    width: 1900px;
    height: 946px;
}
.topImg dl {
    position: relative;
    width: 1900px;
    height: 946px;
}
.topImg__nextArrow,.topImg__preArrow{
    background: black;
    color: white;
    width: 70px;
    height: 70px;
    opacity: 0.5;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    margin-top: -35px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
}
.topImg__preArrow {
    position: absolute;
    left: 30px;
    top: 50%;
}
.topImg__nextArrow {
    position: absolute;
    right: 30px;
    top: 50%;
}
.icon-nextArrow,.icon-preArrow {font-size: 23px;}
.topImg__preArrow:hover,.topImg__nextArrow:hover {opacity: 0.4}
.topImg__img {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 1900px;
    height: 946px;
}
.topImg__img div {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 1900px;
    height: 946px;
}
.topImg__1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    display: block;
    width: 1900px;
    height: 946px;
    background-image: url("../img/topImg/军训合影.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}
.topImg__img a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../img/topImg/topImg__top.png") repeat-x left -1px,url("../img/topImg/topImg__bottom.png") repeat-x left bottom;
}
.topImg__img h3 {
    position: absolute;
    right: 100px;
    bottom: 220px;
    text-align: right;
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 0 black;
}
.topImg__bottom {
    display: block;
    position: absolute;
    left: 70px;
    bottom: 220px;
    text-align: left;
    width: 250px;
    height: 50px;
    z-index: 1000;
    font-size: 0;
}
.topImg__bottom dl {
    width: 250px;
    height: 50px;
}
.topImg__bottom dt {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.topImg__bottom button {
    display: block;
    width: 34px;
    height: 50px;
    //background: #9f8027;
    background: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 0 8px;
}




.copyRight {
    height: 133px;
    background: rgba(0,0,0,0.5);
    padding: 50px 0 30px 0;
}
.mainWrap {
    width: 1400px;
    margin: auto;
}
.copyRight__left {
    width: 1400px;
    height: 54px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.copyRight__left img {
    width: 170px;
    height: 54px;
}
.copyRight__leftText {
    display: inline-block;
    height: 45px;
    opacity: 0.7;
    color: white;
    font-size: 13px;
    font-weight: 100;
    margin-left: 40px;
    //padding-bottom: 10px;
    line-height: 20px;
}
.copyRight__leftText i {font-size: 15px;}
.copyRight__leftText span {margin-left: 10px}
.copyRight__right {
    float: right;
    width: 119px;
    height: 37px;
    background: rgba(255,255,255,0.4);
    line-height: 37px;
    text-align: center;
}
.copyRight__right a {
    display: block;
    font-size: 15px;
    font-weight: 100;
    color: white;
}
.copyRight__bottom {
    height: 38px;
}


