.box ul,.box li{
    list-style: none;
}
.box{
    width: 1260px;
    height: 630px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.box-1 ul li{
    width: 1260px;
    height: 623px;
    position: absolute;
    overflow: hidden;
}
.box-1 ul li img{
    display:block;
    width: 1260px;
    height: 630px;
}
.box-1 ul li h2{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width:1260px;
    background: rgba(125,125,120,.4);
    text-indent: 2em;
    padding-right:500px ;
    font-size: 15px;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
    color: ghostwhite
}
.box-2{
    position: absolute;
    right: 15px;
    bottom: 20px;
}
.box-2 ul li{
    float:left;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin: 0 6px;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    text-indent: 100px;
    cursor: pointer;
}
.box-2 ul .on{
    background: rgba(255,255,255,0.6);
}
.box-3 span{
    position: absolute;
    color: white;
    background: rgba(125,125,120,.3);
    width: 50px;
    height: 80px;
    top:50%;
    line-height: 80px;
    font-size:60px;
    margin-top: -40px;
    text-align: center;
    cursor: pointer;
}
.box-3 .prev{
    left: 10px;
}
.box-3 .next{
    right: 10px;
}
.box-3 span::selection{
    background: transparent;
}
.box-3 span:hover{
    background: rgba(125,125,120,.8);
}