#password_space_1{
    width: 1260px;
    height: 20px
}
#login_top{
    background-color: #F7F7F7;
    width: 1260px;
    height: 20px;
    border: 1px solid #CCCCCC;
    padding: 10px 0;
    margin: 0 auto;
}
#login_top_left{
    float: left;
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;
}
#login_top_right{
    float: right;
    margin-right: 15px;
    font-weight: 500;
    font-size: 16px;
}
#login_top_right a{
    text-decoration: none;
    color: black;
}
#login_top_right a:hover{
    text-decoration: underline;
}
#login_bottom{
    background-color: white;
    width: 1260px;
    height: 500px;
    border: 1px solid #CCCCCC;
    border-top: none;
    margin: 0 auto;
}
#password_space_2{
    height: 80px;
    width: 1260px;
    font-size: 16px;
}
#password_space_2 p{
    padding: 10px 0 0 15px ;
    font-weight: 500;
}
.login_box{
    height: 35px;
    width: 630px;
    margin: 15px 315px;
    border-bottom: 1px dashed #CCCCCC;
}
.login_box_1{
    float: left;
    width:200px;
    text-align: right;
}
.login_box_2{
    float: right;
    width: 420px;
    margin-left: 10px;
}
.login_box_2 button{
    width: 60px;
    height: 25px;
    border: 1px solid #CCCCCC;
    color: white;
    background-color: #007ad0;
}
.login_text{
    margin-right: 5px;
    margin-top: 5px;
    font-weight: 500;
    color: darkslategray;
    font-size: 15px;
}
.login_input{
    width: 160px;
    height: 20px;
    border-top: 1px solid #808080 ;
    border-left: 1px solid #808080 ;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding-left: 5px;
}
.login_text_a{
    margin-right: 5px;
    margin-top: 5px;
    font-weight: 500;
    color: #4F94CD;
    text-decoration: none;
    font-size: 15px;
}
.login_text_a:hover{
    text-decoration: underline;
}
#login_clause{
    text-decoration: none;
    color: black;
}
#login_clause:hover{
    text-decoration: underline;
}