@media screen and (max-width: 1920px) {
    .guide {
        padding: 190px 0 70px 0;
        height: 219px;
    }
    .guide__content {padding: 24px;}
    .guide h3 {
        padding-bottom: 14px;
        margin-bottom: 24px;
        font-size: 21px;
    }
    .guide i {font-size: 26px;}
    .guide p,.guide a {font-size: 17px;}
}
@media screen and (max-width: 1400px){
    .mainWrap {
        width: auto;
        margin: 0 25px;
    }
}
@media screen and (max-width: 1280px) {
    .guide {
        padding: 130px 0 60px 0;
        height: 190px;
    }
    .guide__content {padding: 16px;}
    .guide h3 {
        padding-bottom: 10px;
        margin-bottom: 15px;
        font-size: 19px;
    }
    .guide i {font-size: 24px;}
    .guide p,.guide a {font-size: 15px;}
}
@media screen and (max-width: 1000px) {
    .guide {
        padding: 50px 0 50px 0;
        height: 174px;
    }
    .guide__content {padding: 11px;}
    .guide h3 {
        padding-bottom: 8px;
        margin-bottom: 11px;
        font-size: 18px;
    }
    .guide i {font-size: 23px;}
    .guide p,.guide a {font-size: 15px;}
    .copyRight__left img {
        width: 150px;
    }
    .copyRight__leftText {
        font-size: 12px;
        padding-left: 20px;
    }
    .copyRight__leftText i {font-size: 14px;}
}
@media screen and (max-width: 740px){
    .guide {
        padding: 15px 0 15px 0;
        height: 602px;
    }
    .guideWrap {
        float: none;
        width: 100%;
    }
    .guide__content {
        margin: 20px 0;
        opacity: 0.7;
    }
    .guide p,.guide a {font-size: 16px;}
    .copyRight__leftText {
        display: block;
        padding-left: 0;
        padding-top: 20px;
    }
}