*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    font: 12px/1.3 Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}
.range{
    margin:0 auto;
    min-width: 1260px;
    width: 66%;
}
#space{
    height: 30px;
}
#web_head{
    background-image:url(../../img/old/startTop/start_top.jpg);
    height: 170px;
}
#head_size{
    height: 170px;
    width: 1260px;
}
#start{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 30px;
    background-color: rgba(255,255,255,0.70);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
}
#start_text{
    margin:0 auto;
    min-width: 1260px;
    width: 66%;
}
#start p{
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
}
#start a{
    color: #cd8850;
}
#start_left{
    float: left;
}
#start_right{
    float: right;
    color: #656565;
}
#top{
    height: 85px;
    padding: 10px 0 5px;
}
#top_left{
    float: left;
}
#top_right{
    padding-top: 15px;
}
#top_right form{
    float: right;
    font-size: 13px;
    font-weight: 300;
}
.top_form_1{
    text-align: right
}
.top_form_1 label{
    margin-right: 5px;
    font-weight: 500;
    color: darkslategray
}
.top_input{
    width: 160px;
    height: 18px;
    border-top: 1px solid #808080 ;
    border-left: 1px solid #808080 ;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 2px 5px;
}
#top_input_up{
    margin-bottom: 3px;
}
#top_input_down{
    margin-top: 3px;
}
#top_login{
    width: 85px;
    height: 24px;
    margin: 3px 5px 0;
    font-weight: 600;
    color: #3d3d3d;
}
#top_login:hover{
    background-color: #00a9ea;
    color: white;
}
#top_case{
    font-weight: 500;
    color: darkslategray
}
#top_form_2{
    margin: 0 5px;
}
.top_form_3{
    text-decoration: none;
    border-left: 1px solid cadetblue;
    padding-left: 12px;
}
.top_form_3:hover{
    text-decoration: underline;
}
#top_password{
    font-weight: 700;
    color: darkslategray
}
#top_register{
    font-weight: 900;
    color: #4B0082
}
#Navigation-bar{
    height: 40px;
}
#Navigation-bar ul{
    padding: 0;
}
#Navigation-bar ul:hover{
    display: block;
}
#Navigation-bar ul li{
    list-style-type: none;
    float: left;
    width: 180px;
    background-image: url(../../img/old/startTop/Navigation.jpg);
}
.Navi_first{
    display: block;
    width: 180px;
    height: 40px;
    text-align: center;
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 40px;
}
.Navi_first:hover{
    background-image: url(../../img/old/startTop/Navigation_hover.jpg);
}
#Navigation-bar ul li ul{
    display: none;
    position: absolute;
    z-index:1;
}
#Navigation-bar ul li:hover ul{
    display: block;
    width: 180px;
}
#Navigation-bar ul li:hover{
    background-image: url(../../img/old/startTop/Navigation_hover.jpg);
}
#Navigation-bar ul li ul li{
    float: none;
    width: 180px;
    background-image: url(../../img/old/startTop/Navigation2.png);
}
.Navi_second{
    color: #a1c6f2;
    display: block;
    width: 180px;
    height: 45px;
    text-align: center;
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
    line-height: 45px;
}
.Navi_second:hover{
    color: white;
}
#web_background{
    background-image: url(../../img/old/background.jpg);
    background-size: cover;
    height: 1000px;
}